.codex
.idea
data
.git
*.iml
src
target/classes
target/generated-sources
target/generated-test-sources
target/maven-archiver
target/maven-status
target/surefire-reports
target/test-classes
target/jacoco.exec
target/customers-service-1.0.0-SNAPSHOT.jar.original
volumes
.gitignore
Dockerfile
ecommerce-compose.yml
pom.xml
*.log
